<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <p><strong>Copyright &copy; 2017 <a href="#">ExePrime Vietnam Solution</a> - </strong>Centec Tower, Lầu 10, Số 72-74 Nguyễn Thị Minh Khai, Phường 06, Quận 3, Tp Hồ Chí Minh</p>
</footer>

