@{
    ViewBag.Title = "Confirm Email";
}
<div>
    <p>
        Xác nhận email thành công. @Html.ActionLink("click vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
