@{
    ViewBag.Title = "Reset password confirmation";
}

<div>
    <p>
        Mật khẩu đã được đặt lại. @Html.ActionLink("click vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
